{
  "extends": ["airbnb", "plugin:prettier/recommended"],

  "parser": "babel-eslint",

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "globals": {
    "fetch": false
  },

  "env": {
    "es6": true,
    "jest/globals": true
  },

  "plugins": ["jest", "react", "prettier"],

  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ios.js", ".android.js"]
      }
    }
  },

  "rules": {
    "prettier/prettier": "error",
    "camelcase": "off",
    "no-underscore-dangle": "off",
    "no-unused-expressions": "off",
    "no-use-before-define": "off",
    "object-curly-newline": "off",

    // Import
    "import/extensions": ["off", "never"],
    "import/no-extraneous-dependencies": "off",

    // React
    "react/destructuring-assignment": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-boolean-value": ["error", "always"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/require-default-props": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off"
  }
}
